<header class="hero-image" role="banner" style="background-image:url({{ site.url }}{{ page.hero }})">
    <div class="container">
        {% include "navigation.twig" %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="logo">
                        <a href="/">
                            <img class="img-responsive header-logo" src="{{ site.url }}{{ site.logo }}" alt="Logo">
                        </a>
                        {% include "social-media.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
