<footer>
    <div class="container">
        <div class="row">
            <div class="copyright col-xs-12 col-sm-10 col-lg-10 text-left">
                <ul class="list-inline">
                    <li><i class="fa fa-1x fa-copyright"></i> Copyright Gary Hawes {{ "now"|date("Y") }} |</li>
                    <li><a href="{{ site.url }}/sitemap.xml">Sitemap</i></a></li>
                </ul>
            </div>
            <div class="powered col-xs-12 col-sm-2 col-lg-2">
                <a href="https://sculpin.io" target="_blank">Powered by Sculpin</a>
            </div>
        </div>
    </div>
</footer>
