<div class="col-xs-12 col-sm-4 col-lg-4">
    <div class="whoami">
        <h2 class="heading first">About</h2>
        <p>Welcome, my name is Gary. I'm a web developer who specialises in PHP/Drupal. This isn't specifically a portfolio website, but more of a collection of stuff that I want out on the internet and in the public domain.</p>
        <br/>
        <p>This site is currently under construction but I'm hoping to soon dedicate more time to it and have it properly up and running.</p>
        <p>Until then please bare with me and and just drop me a <a target="_blank" href="https://twitter.com/intent/tweet?text=@GaxZE%20">tweet</a>.</p>
    </div>
    <div class="tweets">
        <h2 class="heading">Latest Tweets</h2>
        <a class="twitter-timeline" border-color="#a80000" lang="en" data-chrome="nofooter noheader" data-dnt="true" href="https://twitter.com/GaxZE" data-widget-id="702881882367725569" data-height="500">Tweets by @GaxZE</a>
    </div>
    <div class="links">
        <h2 class="heading">Links</h2>
        <ul class="list-unstyled">
            {% for link in site.links %}
                <li>
                    <a href="{{ link.url }}"><i class="fa {{ not link.icon ? 'fa-external-link-square' : link.icon }}" aria-hidden="true"></i> {{ link.name }}</a>
                </li>
            {% endfor %}
        </ul>

    </div>
</div>
