<div class="tweets">
    <h2 class="heading">Latest Tweets</h2>
    <a class="twitter-timeline" border-color="#a80000" lang="en" data-chrome="nofooter noheader" data-dnt="true" href="https://twitter.com/GaxZE" data-widget-id="702881882367725569" data-height="500">Tweets by @GaxZE</a>
</div>