body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
}

p {
}


a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #f0803c;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

section#main {
    font-size: 1.2em;
}

.heading {
    border-bottom: 8px solid #f0803c;
    margin: 20px 0;
    padding: 10px 0;
}

.img-centered {
    margin: 0 auto;
}

header .logo {
    text-align: center;
}

header .logo img {
    border: 8px solid #f0803c;
    border-radius: 50%;
    margin: 0 auto 20px;
    height: 180px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header.hero-image {
    padding-top: 125px;
    padding-bottom: 25px;
}

.social-media ul.list-inline > li {
    margin: 0;
    padding: 10px 5px;
}

.social-media ul.list-inline li a {
    background: #333;
    padding: 5px;
    font-size: 1.4em;
    border: 2px solid #f0803c;
    border-radius: 50%;
}

.social-media ul.list-inline li a:focus,
.social-media ul.list-inline li a:hover {
    background: #f0803c;
    border-color: #d8dbe2;
}

.social-media ul.list-inline li a:focus i,
.social-media ul.list-inline li a:hover i {
    color: #d8dbe2;
}

header h1,
header h2,
header h3,
header h4,
header h5 {
    color: #f0803c;
}

.header-logo {
    border-radius: 50%;
}

.navbar {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #333333;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.navbar .container a,
.navbar .container li a {
    color: #f0803c;
    font-weight: bold;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .container a:hover,
.navbar .container li a:hover {
    color: #d8dbe2;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

footer {
    color: #d8dbe2;
    background: #333333;
    font-family: "Open Sans", sans-serif;
    padding: 10px 0 0;
    margin-top: 20px;
}

footer .social-media {
    font-size: 0.8em;
}

footer ul li a:focus,
footer ul li a:hover {
    color: #d8dbe2;
}
footer .copyright ul li {
    padding: 0;
}

footer .copyright,
footer .powered {
    margin-top: 10px;
}

@media(min-width:768px) {

}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 15px 0;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 6px 0;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
    }
}


@media(max-width:767px) {
    header {
    }
}
