body {
    overflow-x: hidden;
    font-family: 'Quattrocento', serif;
    font-weight: 400;
}

p {
    font-size: 18px;
    font-size: 1.8rem;
    letter-spacing: 0;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    font-weight: 700;
    outline: 0;
    color: #f0803c;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

a:hover,
a:active,
a.active,
a:focus {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.heading {
    border-bottom: 8px solid #f0803c;
    margin: 20px 0;
    padding: 10px 0;
}

.img-centered {
    margin: 0 auto;
}

header.hero-image {
    text-align: center;
    margin: 0 0 40px;
    padding: 125px 0 25px;
    background: #000 no-repeat;
    background-size: cover;
}

header.hero-image .logo {
    text-align: center;
}

header.hero-image .logo img {
    border: 8px solid #f0803c;
    border-radius: 50%;
    margin: 0 auto 20px;
    height: 180px;
}

body.front header.hero-image {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto;
}

header.hero-image .title {
    font-size: 62px;
    font-size: 6.2rem;
    line-height: 120px;
    letter-spacing: 0;
    margin: 0 0 40px;
    font-weight: 700;
}
header.hero-image .title small {
    color: #fff;
    display: block;
}

section#main article a {
    padding: 0 3px;
}
section#main article a:focus,
section#main article a:hover{
    background: #f0803c;
    color: #fff;
    text-decoration: none;
}

.social-media ul.list-inline > li {
    margin: 0;
    padding: 10px 5px;
}

.social-media ul.list-inline li a {
    background: #222;
    color: #fff;
    opacity: 0.7;
    padding: 5px;
    font-size: 1.5rem;
    border: 2px solid #f0803c;
    border-radius: 50%;
}

.social-media ul.list-inline li a:focus,
.social-media ul.list-inline li a:hover {
    opacity: 1;
    background: #f0803c;
    border-color: #ffffff;
}

.social-media ul.list-inline li a:focus i,
.social-media ul.list-inline li a:hover i {
    color: #ffffff;
}

header h1,
header h2,
header h3,
header h4,
header h5 {
    color: #f0803c;
}

.header-logo {
    border-radius: 50%;
}

.navbar {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #222;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.navbar .container a,
.navbar .container li a {
    color: #f0803c;
    font-weight: bold;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .container a:hover,
.navbar .container li a:hover {
    color: #ffffff;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

footer {
    color: #ffffff;
    background: #222;
    font-family: "Open Sans", sans-serif;
    padding: 10px 0 0;
    margin-top: 20px;
}

footer ul li a:focus,
footer ul li a:hover {
    color: #ffffff;
}
footer .copyright ul li {
    padding: 0;
}

footer .copyright,
footer .powered {
    margin-top: 10px;
}

@media(max-width:980px) {
    header.hero-image .title {
        font-size: 48px;
        font-size: 4.8rem;
        line-height: 90px;
    }
    .navbar-fixed-top {
        padding: 15px 0;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 6px 0;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
}

@media(max-width:767px) {
    header.hero-image .title {
        font-size: 32px;
        font-size: 3.2rem;
        line-height: 60px;
    }
}
