<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="copyright col-md-4 col-sm-4 text-left">
                <ul class="list-inline">
                    <li><i class="fa fa-1x fa-copyright"></i> Copyright Gary Hawes {{ "now"|date("Y") }} |</li>
                    <li><a href="{{ site.url }}/sitemap.xml">Sitemap</i></a></li>
                </ul>
            </div>
            <div class="social-media col-md-6 col-sm-6 text-left">
                {% include "social-media.html" %}
            </div>
            <div class="powered col-md-2 col-sm-2">
                <a href="https://sculpin.io" target="_blank">Powered by Sculpin</a>
            </div>
        </div>
    </div>
</footer>