<header class="hero-image" role="banner" style="background-image:url({{ site.url }}{{ page.hero }})">
    <div class="container">
        {% include "navigation.html" %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    {% if page.body_class == 'front' %}
                    <div class="logo social-media">
                        <img class="img-responsive header-logo" src="{{ site.url }}{{ site.logo }}" alt="Logo">
                        {% include "social-media.html" %}
                    </div>
                    {% else %}
                    <div class="page-headercol-sm-12 text-col text-center">
                        <h1 class="title">{{ page.title }} <small>{{ page.subtext }}</small></h1>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
