<ul class="list-inline">
    <li class="email">
        <a target="_blank" href="mailto:hello@garyhawes.co.uk">
            <i title="Email" class="fa fa-fw fa-envelope"></i>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.drupal.org/u/gaxze" target="_blank" >
            <i title="Drupal profile" class="fa fa-fw fa-drupal"></i>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.github.com/gaxze" target="_blank">
            <i title="Github profile" class="fa fa-fw fa-github"></i>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.bitbucket.org/gaxze" target="_blank">
            <i title="Bitbucket profile" class="fa fa-fw fa-bitbucket"></i>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.gitlab.com/gaxze" target="_blank">
            <i title="Gitlab profile" class="fa fa-fw fa-gitlab"></i>
        </a>
    </li>
    <li>
        <a target="_blank" href="http://stackoverflow.com/users/293838/gaxze" target="_blank">
            <i title="Stack Overflow" class="fa fa-fw fa-stack-overflow"></i>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.twitter.com/gaxze" target="_blank">
            <i title="Twitter" class="fa fa-fw fa-twitter"></i>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://uk.linkedin.com/in/garyhawes" target="_blank">
            <i title="Linkedin" class="fa fa-fw fa-linkedin"></i>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://play.spotify.com/user/gaxze" target="_blank">
            <i title="Spotify" class="fa fa-fw fa-spotify"></i>
        </a>
    </li>
</ul>