---
layout: default
title: About
hero: /images/cave-water.jpg
---
{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-lg-8">
        <div class="whoami">
            <h1 class="heading first">{{ page.title }}</h1>
            <p>My name is Gary. I'm a web developer based around London and Surrey. Born in Kettering, Northamptonshire and raised in Watford, Hertfordshire. I specialise in backend web development, working mostly with PHP and Drupal.</p>
            <p>Passionate for web development and technology, I am looking to use this website as a platform to showcase as much of my daily interests as possible.</p>
            <section class="skills">
                <h3>Core Skills</h3>
                <p>Below are my key skills for web development:</p>
                <ul>
                    <li>PHP, MySQL, HTML5, CSS, Sass, JSON, XML, Ajax, Symfony, Javascript, JQuery, Bootstrap</li>
                    <li>Drupal 7/8 site builds, module development, theming, API development, Views, Drush, Features, Migrate, Feeds, Commerce, Restful, Services, Ubercart, Display suite, Panels and more</li>
                    <li>Nginx, Varnish, DevOps, Git, Elasticsearch, Apache Solr, Vagrant, Grunt, Composer, Node, Bower, Fabric, Sculpin, RESTful Web services</li>
                </ul>
            </section>
            <section class="career">
                <h3>Career timeline</h3>
                <!-- Timeline -->
                <div class="timeline">

                    <!-- Line component -->
                    <div class="line text-muted"></div>


                    {% for career in site.career %}
                        <!-- Panel -->
                        <article class="panel panel-primary">

                            <!-- Icon -->
                            <div class="panel-heading icon">
                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                            </div>


                            <!-- Heading -->
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a href="{{ career.url }}" target="_blank">{{ career.org }} <i class="fa fa-external-link" aria-hidden="true"></i></a>
                                </h3>
                            </div>


                            <!-- Body -->
                            <div class="panel-body">
                                {{ career.body|raw }}
                            </div>

                        </article>

                    {% endfor %}

                </div>
            </section>
            <section class="testimonial">
                <h3>Testimonials</h3>
                <blockquote class="blockquote">
                    <p>I've been working closely with Gary for more than two years and he is undoubtedly an invaluable member of the British Council digital team. He constantly demonstrates a genuine urge to evolve, has been taking strong initiative with a keen eye for spherical, detailed and efficient solutions and is always approachable and helpful with more junior members in the team. Gary would be a great fit as a senior member in any high profile team, highly recommended.</p>
                    <div class="blockquote-author">
                        <span class="author">Marios Ioannidis</span>
                        <span class="author-title">Drupal PHP Developer at British Council</span>
                    </div>
                </blockquote>
                <blockquote class="blockquote">
                    <p>Gary is an excellent developer and a great asset to our team. He has extensive knowledge of Drupal backend. He always likes a good challenge and looking to improve himself, he is a very good communicator and he is very pleasant to work with. Highly recommended.</p>
                    <div class="blockquote-author">
                        <span class="author">Bertan Atalay</span>
                        <span class="author-title">Lead Front End Drupal Developer at British Council</span>
                    </div>
                </blockquote>
            </section>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-4">
        {% include "twitter.twig" %}
    </div>
</div>
{% endblock %}

