---
layout: default
title: About
hero: /images/cave-water.jpg
---

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-lg-8">
        <div class="whoami">
            <h1 class="heading first">{{ page.title }}</h1>

            <p class="intro">Hi my name is Gary Hawes and I'm web developer based in/around London who specialises in PHP/Drupal.</p>

        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-4">
        {% include "twitter.twig" %}
    </div>
</div>
{% endblock %}

