---
layout: default
title: About
hero: /images/cave-water.jpg
---
{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-lg-8">
        <div class="whoami">
            <h1 class="heading first">{{ page.title }}</h1>

            <p>My name is Gary. I'm a web developer based around London and Surrey. Born in Kettering, Northamptonshire and raised in Watford, Hertfordshire, I specialise in backend web development, working mostly with PHP and Drupal.</p>
            <p>Passionate for web development and technology, I am looking to use this website as a platform to showcase as much of my daily interests as possible.</p>

        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-4">
        {% include "twitter.twig" %}
    </div>
</div>
{% endblock %}

