---
title: GaryHawes
layout: default
generator: pagination
pagination:
    max_per_page: 6
use:
    - posts
hero: /images/header.jpeg
body_class: front

---

{% block content %}
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="latest">
                <h2 class="heading first">Latest Updates</h2>
                {% for post in page.pagination.items %}
                    <article class="blog-entry">
                        <h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
                        <time>{{ post.date|date("M. jS, Y") }}</time>
                        <div> {{ post.blocks.content|split('</p>')|first|raw}} </div>
                    </article>
                    {% if not loop.last %}<hr />{% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="whoami">
                <h2 class="heading first">About</h2>
                <p>Welcome, my name is Gary. I'm a web developer who specialises in Drupal, but I'm quite versed with other open source web technologies. This isn't specifically a portfolio website, but more of a collection of stuff that I want out on the internet and in the public domain.</p>
                <p></p>
                <p>This site is currently under construction but I'm hoping to soon dedicate more time to it and have it properly up and running.</p>
                <p>Until then please bare with me and and just drop me a <a target="_blank" href="https://twitter.com/intent/tweet?text=@GaxZE%20">tweet</a>.</p>
            </div>
            <div class="tweets">
                <h2 class="heading">Latest Tweets</h2>
                <a class="twitter-timeline" border-color="#a80000" lang="en" data-chrome="nofooter noheader" data-dnt="true" href="https://twitter.com/GaxZE" data-widget-id="702881882367725569" data-height="500">Tweets by @GaxZE</a>
            </div>
        </div>
    </div>
{% endblock %}