---
title: Gary Hawes
layout: default
generator: pagination
pagination:
    max_per_page: 6
use:
    - posts
hero: /images/header.jpeg
body_class: front

---

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-8">
            <div class="latest">
                <h2 class="heading first">Latest Updates</h2>
                {% include "listing.twig" %}
            </div>
            {% include "pager.twig" %}
        </div>
        {% include "sidebar.twig" %}
    </div>
{% endblock %}