---
layout: default
title: Message received
hero: /images/cave-water.jpg
---


{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-lg-8">
        <h1 class="heading first">{{ page.title }}</h1>
        <p>Thanks for the email. I will get back to you soon.</p>
        <p>Failing that, <a href="https://twitter.com/gaxze">tweet me</a>.</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-4">
        {% include "twitter.twig" %}
    </div>
</div>
{% endblock %}
